
  #nameInfo {
    position: relative;
    font-family: Impact, sans-serif;
    font-size: 85px;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #FCB900, #fff, #FCB900);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 7s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 238, 0, 0);
  }
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }